$color_oscuro: #1C1C1C;
$color_claro: #DADDD8;
$titulos_principales: 900;
$titulos_size: 50px;
$border_radius: 10px;
$titulos_320px: 20px;
$fonts_320px:13px;
$margin_secciones320px: 70px;

//@media minW 321px

$titulos_2: 30px;

//resoluciones grandes

$titulos_1023: 40px;
$titulos_resolucion_grande: 90px;